@import url('https://fonts.googleapis.com/css?family=Quantico:700&display=swap');

html {
min-width: 550px;
position: relative;
}

body {
  background-color: white;
}

/* Card stuff*/
.BoardCard{

  margin-bottom:20px;
  margin-right:100px;

}

.BoardCard a{
  text-decoration: none;
  color: #000;
}
.BoardCard a:visited{
  color: black;
}

.BoardCard h1{
  font-size: 35px;
}

.BoardCard h4 {
  font-size: 20px;
  font-weight: normal;
}

.ScrollingFlexWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;

}

.Card {
  background-color: rgba(240,100,100,1);

  /*Flex box elements*/
  flex: 0 0 auto;
  flex-shrink:0;

  /*Card Size*/
  display: block;
  width:280px;
  min-width: 280px;
  height:300px;
  text-align:left;
  padding:10px;
  box-shadow: 10px 10px rgba(200, 200, 200,0.4);

}

.RED {background-color: rgba(240,100,100,1)}
.RED:hover {background-color: rgb(197, 71, 71)}

.BLUE {background-color: rgb(184,221,238)}
.BLUE:hover {background-color: rgb(159, 208, 231)}

.ORANGE {background-color: rgb(240,170,67)}
.ORANGE:hover {background-color: rgb(228, 150, 33)}

.YELLOW {background-color: rgb(253,237,131)}
.YELLOW:hover {background-color: rgb(223, 202, 66)}

.GREEN {background-color: rgb(213,223,113)}
.GREEN:hover {background-color: rgb(200, 211, 77)}


.DashboardPad{
  padding-left: 30px;
  padding-right: 30px
}

.DisableScrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.DisableScrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.Modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ModalBody {
  padding: 2px 16px;
}

.ModalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  top:-500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.6s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
}

@keyframes animatetop {
  from {top: -1000px; opacity: 0}
  to {top: -500px; opacity: 1}
}

@-webkit-keyframes animatetop {
  from {top:-1000px; opacity:0} 
  to {top:-500px; opacity:1}
}

.ModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ModalClose:hover,
.ModalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ModalHeader {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.ModalFooter {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.TopContainer {
  background: repeating-linear-gradient(
    -45deg,
    rgba(238, 238, 238,0.8),
    rgba(238, 238, 238,0.8) 4px,
    rgba(252, 252, 252,0.8) 4px,
    rgba(252, 252, 252,0.8) 8px
  );
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

nav {
  /*Position of Nav*/
  z-index: 20;
  position: sticky;
  top: 0;

  /*Size of Nav*/
  padding: 1.5em 0em;
  width: 100%;


  /*Nav Color*/
  background-color: #FFF;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 5px rgba(0,0,0,0.25);
  opacity: 1;
}

nav .logo{
  display: block;
  padding: 0em 1.2em;
  font-size: 2.7em;
  font-family: 'Quantico', sans-serif;
  position: absolute;
  left:40%;
  top:0%;
}

nav a{
  text-decoration: none;
}
nav a:visited{
  color: black;
}

nav > .flex-container{
      /*Setting Flex display properties*/
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      text-align: center;
  
}

nav .flex-container > ul { 
  
  margin: 0;
  list-style: none;

  margin-right: 40px; 

    /*Setting Flex display properties*/
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

}

nav .flex-container > ul > li { 
  padding-left: 1em;
  font-size: 1.3em;
  color: #000;
  opacity: 1;

  text-decoration: none;

}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Form Stuff */
#loginPage{
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm {
  min-width: 300px;
  padding: 2em;
  margin: 1em auto;
  border: 1px solid #ccc;
  border-radius: 5%;
  background-color: #fff;
}

#loginPage h1{
  text-align: center
}

#loginForm form{
  text-align: left;
  max-width: 250px;
  margin: auto;
}

#loginForm input{
  width: 100%;
  margin: 1em 0em;
  padding: 0.5em;
  padding-right: 0em;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0;
  font-size: 1em;
}



#loginForm input[type="submit"]{
  color: white;
  background-image: linear-gradient(rgb(113, 223, 122), rgb(88, 179, 96));
  
  margin: 1em auto;
  margin-bottom: 2em;
  transition: border 0.2s;
}

#loginForm input[type="submit"]:hover{
  border: 1px solid #000;

}
